.vcursor {
  opacity: 0.5;
  border-radius: 100%;
  z-index: 10000;
  position: absolute;
}

.cursor-outer {
  background-color: transparent;
  border-radius: 100%;
  position: absolute;
  z-index: 10000;
}

.loading {
  position: absolute;
  overflow: hidden;
}

.black {
  border-radius: 100%;
  position: relative;
}

.virtual-btn {
  margin: 100px 100px 50px 0px;
  height: 50px;
  width: 150px;
}

.gesture-display {
  padding-bottom: 20px;
}
