<div class="container mt-5">
  <div class="scrollable-container pb-2 pr-2">
    <div class="task-container px-3 pt-3 pb-3 mt-1" *ngFor="let task of tasks">
      <div class="d-flex justify-content-between">
        <h4 class="content mb-3">
          {{ task.title }}
        </h4>
        <!-- <button class="btn pull-right p-0" (click)=" deleteTask(task)"> -->
        <i class="fa fa-window-close" (click)=" deleteTask(task)"></i>
        <!-- </button> -->
      </div>
      <div class="mb-3">
        {{ task.description }}
      </div>
      <div class="creation-date text-muted">
        <i>created at: {{ task.createdAt }}</i>
      </div>
    </div>
  </div>
  <div class="task-form mt-2">
    <form #taskForm="ngForm" (ngSubmit)="taskForm.form.valid && postTask(); taskForm.resetForm()"
      class="form-container task-form">
      <div>
        <label for="taskTitleInput">
          Title:
        </label>
        <input class="form-control mt-1" id="taskTitleInput" [(ngModel)]="title" name="inputtitle" />
        <label for="taskDescriptionInput">
          Description:
        </label>
        <input class="form-control mt-1" id="taskDescriptionInput" [(ngModel)]="description" name="inputdescription" />
        <div class="task-btn mt-1">
          <button type="submit" class="btn btn-primary pull-right">
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
