.task-container {
  background-color: lightsteelblue;
  border-radius: 5px;
  box-shadow: 2px 2px 4px lightgray;
}

.scrollable-container {
  height: 350px;
  overflow: auto;
}

.creation-date {
  font-size: small;
}

.pointer-cursor{
  cursor: pointer;
}

.delete-task {
  color: red;
  height: 13px;
}
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightblue;
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}
