.main-container{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    

    .item-browser{
        background-color: #636363;
        width: 30%;

        .item-browser-title{
            width: 100%;
            height: 70px;
            background-color: #1C1C1C;
            display: flex;
            // justify-content: center;
            // justify-items: center;

            p{
                color: white;
                margin: auto;
                width: 50%;
                text-align: center;
                font-size: 150%;
            }
        }
    }

    .item-details{
        width: 70%;
        margin: 30px;

        .row-container{
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;

            img{
                border-radius: 20px;
                margin-right: 20px
            }
            p{
                font-weight: bold;
                font-size: x-large;

            }
        }
    }

}